@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://devblogs.microsoft.com/dotnet/wp-content/uploads/sites/10/2023/08/asp-net-core-dotnet-8-preview-7.png" alt="https://talkimages.blob.core.windows.net/mssaccad13/noImage.png" />
</div>
